<!DOCTYPE html>
<html lang="en">
<head th:include="admin/fragments/head.html"></head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:include="admin/fragments/sidebar.html" class="navbar-nav sidebar sidebar-dark accordion"
        id="accordionSidebar"
        style="background-color: #417cc0"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:include="admin/fragments/nav.html"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <div th:include="admin/fragments/dashboard-home"></div>

                </div>
            </div>
        </div>
        <footer th:include="admin/fragments/footer.html" class="sticky-footer bg-white"></footer>
    </div>
</div>
<div th:include="admin/fragments/scripts.html"></div>
</body>
</html>
