<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create A Current Evaluation</h1>

<form th:action="@{/admin/current-evaluations/create}" th:object="${currentEvaluationDto}" method="post" enctype="multipart/form-data">

    <label for="formName">Form Name</label>
    <input type="text" name="formName" th:field="${currentEvaluationDto.formName}" id="formName"
           placeholder="Form Name"/>
    <span th:if="${#fields.hasErrors('formName')}" th:errors="*{currentEvaluationDto.formName}"></span>

    <label for="file">Form Upload</label>
    <input type="file" name="file" th:field="${currentEvaluationDto.file}" id="file" placeholder="Form Upload"
           accept="application/pdf"/>
    <span th:if="${#fields.hasErrors('file')}" th:errors="*{currentEvaluationDto.file}"></span>


    <input type="submit" value="Add Current Evaluation">

</form>
</body>
</html>