<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/admin/current-evaluations/update}" th:object="${currentEvaluationDto}" method="post" enctype="multipart/form-data">

    <label for="formName">Form Name</label>
    <input type="text" name="formName" th:field="${currentEvaluationDto.formName}" id="formName"
           placeholder="Form Name"/>
    <span th:if="${#fields.hasErrors('formName')}" th:errors="*{currentEvaluationDto.formName}"></span>

    <label for="file">Form Upload</label>
    <input type="file" name="file" th:field="${currentEvaluationDto.file}" id="file" placeholder="Form Upload"
           accept="application/pdf"/>
    <span th:if="${#fields.hasErrors('file')}" th:errors="*{currentEvaluationDto.file}"></span>


    <input type="submit" value="Add Current Evaluation">
</body>
</html>