<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:switch="${currentEvaluations}">
    <h2 th:case="null">No Current Evaluations yet!</h2>
    <div th:case="*">
        <h2>Current Evaluations</h2>
        <table>
            <thead>
            <tr>
                <th>Form Name</th>
                <th>Form Url</th>
                <th>Form Upload</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="currentEvaluationModel : ${currentEvaluations}">
                <td th:text="${currentEvaluationModel.formName}"></td>
                <td th:text="${currentEvaluationModel.formUrl}"></td>
                <td><a th:href="@{/admin/current-evaluations/edit/{id}(id=${currentEvaluationModel.id})}">Edit</a></td>
                <td><a th:href="@{/admin/current-evaluations/delete/{id}(id=${currentEvaluationModel.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/admin/current-evaluations/create">Add a new Current Evaluation</a></p>
</div>
</body>
</html>