<!DOCTYPE html>
<html lang="en">

<body id="page-top">

<head th:include="public/fragments/head.html"></head>

<nav class="navbar navbar-expand-lg bg-blue text-uppercase fixed-top" id="mainNav"
     th:include="public/fragments/nav.html"></nav>

<header class="masthead masthead-bg-lightblue bg-primary text-white text-center"
        th:include="public/fragments/header"></header>

<section class="page-section" id="district-forms">

    <div class="container">
        <h2 class="text-center">Elementary School Logos</h2>
        <div class="row">

            <table id="downloadsTable" class="table table-bordered table-striped shadow" style="width:100%;">
                <thead>
                <tr>
                    <th>Form Name</th>
                    <th>Category</th>

                </tr>
                </thead>
                <tbody>
                <tr th:if="${elementarySchoolLogos.category == 'elementary_school'}"
                    th:each="elementarySchoolLogos : ${elementarySchoolLogos}">
                    <td>

                        <a th:href="${'http://localhost:8080' + elementarySchoolLogos.filePath}">
                            <span th:text="${elementarySchoolLogos.formName}"></span>
                        </a>
                    </td>
                    <td th:text="${elementarySchoolLogos.category}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</section>

<section class="page-section" id="contact" style="background-color: #f9f9f9"
         th:include="public/fragments/sections/footer-contact"></section>

<footer class="footer" th:insert="public/fragments/sections/footer"></footer>

<div class="copyright py-4 text-center text-white" th:insert="public/fragments/sections/copywrite"></div>

<div th:insert="public/fragments/sections/scripts"></div>

</body>

</html>