<div class="row">
    <!-- Content Column -->
    <div class="col-lg-6 mb-4">
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Latest Index Of Forms</h6>
            </div>
            <div class="card-body">
                <div th:each="indexofforms : ${indexofforms}">
                <a th:href="${indexofforms.filePath}">
                    <p>
                        <i class="fa-solid fa-circle-arrow-right"></i>
                    <span  th:text="${indexofforms.formName}"></span>
                </p>
                </a>
                </div>



            </div>
        </div>

    </div>

    <div class="col-lg-6 mb-4">
        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    Form Downloads
                </h6>
            </div>
            <div class="card-body">

            </div>
        </div>


    </div>
</div>