<div class="container d-flex align-items-center flex-column">
  <h1 class="masthead-heading text-uppercase mb-0 header-top">
    Title
  </h1>

  <!-- Masthead Subheading-->
  <p class="masthead-subheading font-weight-light mb-3 text-white">
 Subtitle
  </p>

  <div class="btn-toolbar text-center" role="group" aria-label="Header Buttons">
    <center>
      <a href="/#directions" class="btn btn-dark mb-0 pr-2 btn-lg"
         style="margin-right: 5px; background-color: #0d3a5d;border-color: #0d3a5d;" title="Contact Us"><i
              class="fa-solid fa-circle-question"></i> How To Submit Work Requests</a>

      <a href="/#graphic_request_forms"
         class="btn btn-info pr-2 btn-lg"
         style="color:black; background-color: #c7d6eb;border:1px solid #c7d6eb; margin-right:5px; background-color:white; border:white;"
         title="Graphics Request Forms"><i class="fa-solid fa-file-word"></i> Work Requests</a>

      <a href="#contact" class="btn btn-dark mb-0 pr-2 btn-lg"
         style="margin-right: 5px; background-color: #0d3a5d;border-color: #0d3a5d;" title="Contact Us"><i
              class="fa-solid fa-file-import"></i> Submit Work Requests</a>
    </center>
  </div>
